@import "variables";
@import "home";     
@import url("https://pro.fontawesome.com/releases/v5.10.1/css/all.css");


//[insert Google fonts] @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");



@mixin main-background($padding: 20px, $font-size: 20px) {
    padding: $padding;
    text-align: center;
    font-size: $font-size;
  }

  header {
    @include main-background($padding: 30px);
  }
  
  footer {
    @include main-background($padding: 10px);
  }
  
