.image-blog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:70%; 
}

img {
    width: 100%;
    //set <img> to 'width: 100%;' fixed the layout issue
}