.image-blog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:70%; 
}

img {
    width: 100%;
}

p.blog-title {
    font-size: 24px;
    text-align: left;
    margin: 10px;
    font-weight: bold;
}

p.blog-date {
    text-decoration: underline;
    font-size: 16px;
    margin: 7px;
}

p.blog-text {
    padding: 20px 60px;
    margin: 0;
}