//Flip card - flex position
  .sub-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .flip-card {
    flex: 1;
    padding: 5px 10px;

  }

  .flip-card-text {
    flex: 3;
    padding: 40px;
    p {
      line-height: 1.5;
    }
  }


//Flip Card container
  .flip-card {
      background-color: transparent;
      width:250px;
      height:200px;
      border: 1px solid #f1f1f1;
    }
  
//Flip card - inner
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
//Flip card - flip direction
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
  }
  
//Flip card - front and back position 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
//Flip card - front Style
  .flip-card-front {
    background-color: $site-light-green;
    color: white;
    border-radius: 15%;
      img {
        width:250px;
        height:200px;
    }
  }

  
//Flip card - back Style
  .flip-card-back {
    width:250px;
    height:200px;
    transform: rotateY(180deg);
    transform: rotateX(180deg);
  }

//Media break point (always at bottom to override other styles)
@media screen and (min-width: 960px) {   
   #experiences .sub-section {
        display: flex;
        flex-direction: row;
    }

}