// Color variables
$site-green-yellow:rgb(233, 234, 123);
$site-light-green: rgb(240, 247, 220);
$site-darker-green: rgb(119, 157, 97);
$site-blue: rgb(114, 201, 234);
$site-light-blue: rgb(184, 241, 243);
$site-brown: rgb(168, 98, 51);
$site-yellow: rgb(255, 209, 117);
