// Color variables
    $site-yellow: #FFCF34;
    $site-light-blue: rgb(184, 241, 243);
    $site-light-green: #9BC9A2;
    $site-darker-green: #1B4001;
    // $menu: rgb(233, 234, 123);
    // $background: #ecf1f1;
    $header-color: #666;

//Version 3 - changed colour


$menu: #FFCF34;
$background: rgb(184, 241, 243);
