@import "variables";
@import "home"; 
@import url("https://pro.fontawesome.com/releases/v5.10.1/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
     

main {
    display: flex;
    flex-direction: column;
}

//memu
.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    }

.collapsible-menu {
    flex: 1;
    background-color: $menu;
    padding: 30px;

    ul {
        list-style-type: none;
        padding: 0;
    }

    a {
        display: block;
        padding: 10px;
        text-decoration: none;
    }

    label {
        display: block;
        cursor: pointer;
            #burger {
                border: 0;
                width: 50px;
                height: 50px;
            }
    }
    }

input#menu {
    display: none;
}

input:checked ~ .menu-content {
    max-height: 100%;
}

// Logo
#logo {
    position: relative;
    min-height: 48px;
    cursor: default;
  
    h4 {
      position: relative;
      color: $site-darker-green;
      font-weight: 600;
      font-size: 24px;
      line-height: 1em;
    }
  
    p {
      position: relative;
      display: block;
      font-size: 20px;
      color: $site-darker-green;
    }
  
    .image-profile {
      display: inline-block;
      border: 0;
      width: 100%;
      height: 90px;
    }
  }     

//section-container
.section-container {
      flex: 4;
      background-color: $background;
      text-align: center;

      p {
          margin: 10px;
      }
  }

//Fixed Social Icons bar
.section-bottom {
    position: fixed;
    bottom: 0px;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    a {
        display: inline-block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: $site-darker-green;
        font-size: 20px;

        &:hover {
            background-color: #000;
            color: $site-yellow;
          }
      }

    li {
        display: inline;
    }

    ul {
        list-style-type: none;
        padding: 0;
        }
        
}



//Media break point (always at botton to override other styles)
  @media screen and (min-width: 960px) {   
    main {
        flex-direction: row;
    }

    .menu-content {
        display: block;
        max-height: 100%;
        min-height: 100vw;
    }
    #burger {
        display: none;
    }


}
