@import url("https://pro.fontawesome.com/releases/v5.10.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
}

.collapsible-menu {
  flex: 1;
  background-color: #e9ea7b;
  padding: 30px;
  min-height: 5vh;
}
.collapsible-menu label {
  display: block;
  cursor: pointer;
}
.collapsible-menu label #burger {
  border: 0;
  width: 50px;
  height: 50px;
}

input#menu {
  display: none;
}

input:checked ~ .menu-content {
  max-height: 100%;
}

#nav #links {
  list-style-type: none;
  padding: 0;
}
#nav #links a {
  display: block;
  padding: 10px 0;
  color: #1B4001;
  font-size: 18px;
}

#profile {
  position: relative;
  min-height: 48px;
  cursor: default;
}
#profile h3 {
  position: relative;
  color: #1B4001;
  font-weight: 600;
  line-height: 1em;
}
#profile h5 {
  position: relative;
  display: block;
  color: #1B4001;
}
#profile .image-profile {
  display: inline-block;
  border: 0;
  width: 100%;
  height: 90px;
}

.section-container {
  flex: 4;
  background-color: #ecf1f1;
  text-align: center;
}

header {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: 300;
  color: #666;
  line-height: 1.5em;
}

footer {
  position: fixed;
  bottom: 0px;
  right: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
footer .social-icons {
  list-style-type: none;
  padding: 0;
}
footer li {
  display: block;
}
footer a {
  padding: 10px;
  transition: all 0.3s ease;
  color: #1B4001;
}
footer a:hover {
  background-color: #000;
  color: #FFCF34;
}

#copyright {
  position: relative;
  height: 155px;
  width: 100%;
}

small {
  position: absolute;
  width: 100%;
  font-size: 70%;
  background: #1B4001;
  color: white;
  text-align: center;
  bottom: 0;
  line-height: 30px;
}

@media screen and (min-width: 960px) {
  .main {
    flex-direction: row;
  }

  .menu-content {
    display: block;
    max-height: 100%;
    min-height: 100vh;
  }

  #burger {
    display: none;
  }

  #section-buttons {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
  }
  #section-buttons .button-scrolly {
    display: block;
    position: relative;
    left: 270px;
    padding: 40px 0;
    width: 100%;
    cursor: pointer;
    background-image: url(/images/hunter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    margin: 5px;
    opacity: 0.8;
  }
}
.image.featured {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70%;
  overflow: hidden;
}
.image.featured img {
  cursor: auto;
  transition: all 1.5s ease-out;
  width: 100%;
}
.image.featured img:hover {
  transform: scale(1.2);
}

.image-blog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70%;
  cursor: initial;
}

img {
  width: 100%;
}

p.blog-title {
  font-size: 24px;
  margin: 10px;
  font-weight: bold;
}

p.blog-date {
  text-decoration: underline;
  font-size: 16px;
  margin: 7px;
}

p.blog-text {
  padding: 20px 60px;
  margin: 0;
}

img {
  width: 100%;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.skills-icons-list {
  list-style-type: none;
}
.skills-icons-list .skills-icons {
  font-size: 30px;
  padding: 15px;
}
.skills-icons-list .fab.fa-html5 {
  color: tomato;
}
.skills-icons-list .fa-css3-alt {
  color: Dodgerblue;
}
.skills-icons-list .fas.fa-gem {
  color: red;
}
.skills-icons-list .fa-language {
  color: green;
}
.skills-icons-list .fa-wrench {
  color: Mediumslateblue;
}

#slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #b8f1f3;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 10px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #1B4001;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  left: 8px;
  bottom: -80px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.flip-card-front img {
  width: 250px;
  height: 200px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover*/
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 1px solid #f1f1f1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #9BC9A2;
  color: white;
  border-radius: 15%;
}

/* Style the back side */
.flip-card-back {
  width: 250px;
  height: 200px;
  transform: rotateY(180deg);
  transform: rotateX(180deg);
}

.sub-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.flip-card {
  flex: 1;
  padding: 5px 10px;
}

.flip-card-text {
  flex: 3;
  padding: 40px;
}
.flip-card-text p {
  line-height: 1.5;
}

@media screen and (min-width: 960px) {
  #experiences .sub-section {
    display: flex;
    flex-direction: row;
  }
}
header, h3, h4, h5, h6, nav, .text, #section-buttons,
small, footer {
  font-family: "Roboto", sans-serif;
}

header {
  font-weight: bold;
  text-decoration: underline overline dotted;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2;
  white-space: pre-line;
}

/*# sourceMappingURL=main.css.map */
