@import url("https://pro.fontawesome.com/releases/v5.10.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
}

.collapsible-menu {
  flex: 1;
  background-color: #e9ea7b;
  padding: 30px;
  min-height: 100vh;
}
.collapsible-menu label {
  display: block;
  cursor: pointer;
}
.collapsible-menu label #burger {
  border: 0;
  width: 50px;
  height: 50px;
}

input#menu {
  display: none;
}

input:checked ~ .menu-content {
  max-height: 100%;
}

#nav #links {
  list-style-type: none;
  padding: 0;
}
#nav #links a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

#profile {
  position: relative;
  min-height: 48px;
  cursor: default;
}
#profile h3 {
  position: relative;
  color: #1B4001;
  font-weight: 600;
  line-height: 1em;
}
#profile h5 {
  position: relative;
  display: block;
  color: #1B4001;
}
#profile .image-profile {
  display: inline-block;
  border: 0;
  width: 100%;
  height: 90px;
}

.section-container {
  flex: 4;
  background-color: #ecf1f1;
  text-align: center;
}
.section-container p {
  margin: 10px;
  padding: 5px;
}

header {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: 300;
  color: #666;
  line-height: 1.5em;
}

#section-buttons {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
}
#section-buttons .button-scrolly {
  text-align: center;
  display: block;
  position: relative;
  color: white;
  font-weight: bold;
  padding: 40px 0;
  width: 100%;
  cursor: pointer;
  background-image: url(/images/hunter.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: contain;
  margin: 5px;
  justify-self: center;
}

.footer {
  position: fixed;
  bottom: 0px;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer #social-icons {
  list-style-type: none;
  padding: 0;
}
.footer li {
  display: inline;
}
.footer a {
  display: block;
  text-align: justify;
  font-size: 20px;
  padding: 10px;
  transition: all 0.3s ease;
  color: #1B4001;
}
.footer a:hover {
  background-color: #000;
  color: #FFCF34;
}

@media screen and (min-width: 960px) {
  .main {
    flex-direction: row;
  }

  .menu-content {
    display: block;
    max-height: 100%;
    min-height: 100vh;
  }

  #burger {
    display: none;
  }
}
.image.featured {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70%;
  overflow: hidden;
}
.image.featured img {
  cursor: auto;
  transition: all 1.5s ease-out;
}
.image.featured img:hover {
  transform: scale(1.2);
}

.image-blog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70%;
}

/* Slideshow container */
#slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
header, h3, h5, nav, #section-buttons, footer {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

/*# sourceMappingURL=main.css.map */
